[submodule "tests/corpus/ron"]
	path = tests/corpus/ron
	url = https://github.com/starfederation/ron
[submodule "tests/corpus/json"]
	path = tests/corpus/json
	url = https://github.com/nst/JSONTestSuite
